body {
	background-color: bisque;
}

.helloworld_text {
	background-color: burlywood;
}

.jk_submenu {
	background-color: rgb(51, 49, 47);
	color: rgb(230, 216, 196);
	border-radius: 30px;
	transition: text-shadow 0.5s;
}

.jk_dropdwnmenu {
	background-color: rgb(51, 49, 47);
	color: rgb(230, 216, 196);
	border-radius: 20px;
}

.jk_submenu:hover {
	background-color: bisque;
	text-shadow: 2px 2px 4px #000000;
	border-radius: 80px;
}

.jk_logo {
	color: #423f36;
}

@media all and (min-width: 768px) {
	.dropdown-menu li {
		position: relative;
	}
	.dropdown-menu .dropdown-submenu {
		display: none;
		position: absolute;
		left: 100%;
		top: -7px;
	}
	.dropdown-menu .dropdown-submenu-left {
		right: 100%;
		left: auto;
	}
	.dropdown-menu > li:hover > .dropdown-submenu {
		display: block;
	}
}

@media (max-width: 767px) {
	.dropdown-menu .dropdown-menu {
		margin-left: 0.7rem;
		margin-right: 0.7rem;
		margin-bottom: .5rem;
	}
}




.colored-toast.swal2-icon-success {
	background-color: #c8ebb4 !important;
  }
  
  .colored-toast.swal2-icon-error {
	background-color: #f27474 !important;
  }
  
  .colored-toast .swal2-title {
	color: white;
  }
  
  .colored-toast .swal2-close {
	color: white;
  }
  
  .colored-toast .swal2-html-container {
	color: white;
  }

  body.swal2-shown > [aria-hidden="true"] {
	transition: 0.1s filter;
	filter: blur(10px);
  }


  .hiddenRow{
	  display: none;
  }