<!--<div id="circularMenu" class="circular-menu">

        <a class="floating-btn" onclick="circleMenuActive('circularMenu')">
            <i class="fas fa-plus"></i>
        </a>

        <menu class="items-wrapper">
            <a href="#" class="menu-item fab fa-facebook"></a>
            <a href="#" class="menu-item fab fa-twitter"></a>
            <a href="#" class="menu-item fab fa-google-plus"></a>
            <a href="#" class="menu-item fab fa-linkedin"></a>
        </menu>

    </div>-->


<div id="circularMenu1" class="circular-menu circular-menu-left">

    <a class="floating-btn" onclick="circleMenuActive('circularMenu1')">
        <i class="fas fa-bars"></i>
    </a>

    <menu class="items-wrapper">
        <a href="#" class="menu-item fa fa-envelope"></a>
        <a class="menu-item fa fa-user" onclick="showLoginPopup()"></a>
        <a href="/" class="menu-item fa fa-home"></a>
    </menu>

</div>