<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="mb-0 ms-5 fs-4 jk_logo">GSDA</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" id="navtoggler">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link fa fa-home" aria-current="page" href="/">Home</a>
                </li>

                <li class="nav-item dropdown jk_mn">
                    <a class="nav-link dropdown-toggle fa fa-registered" href="#" id="navbarDropdownMenuLink"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Redmine
                    </a>
                    <ul class="dropdown-menu jk_dropdwnmenu jk_md" aria-labelledby="navbarDropdownMenuLink">
                        <li class="nav-item dropdown jk_smn">
                            <a class="nav-link fa dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Items Creators
                            </a>
                            <ul class="dropdown-menu jk_dropdwnmenu dropdown-submenu jk_smd"
                                aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item fa jk_submenu" href="/itemcreators/custom_item">Create
                                        Custom
                                        Item</a>
                                </li>
                                <li><a class="dropdown-item fa jk_submenu" href="/itemcreators/create_from_sd">Create
                                        Item
                                        from
                                        SD
                                        Id</a>
                                </li>
                                <li><a class="dropdown-item fa jk_submenu" href="/itemcreators/regression_item">Items
                                        from
                                        Regressions</a>
                                </li>
                                <li><a class="dropdown-item fa jk_submenu" href="/itemcreators/TMS_items">Items from TMS
                                        Tasks</a>
                                </li>
                                <li><a class="dropdown-item fa jk_submenu" href="/itemcreators/projects_item">Items from
                                        Projects</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="dropdown-item fa jk_submenu" aria-current="page" href="/redmine/item_synch">Item
                                Synchronization</a></li>
                        <li><a class="dropdown-item fa jk_submenu" href="/redmine/managers_dashboard">Manager's
                                Dashboard</a>
                        </li>
                        <li><a class="dropdown-item fa jk_submenu" href="/redmine/daily_meetings">Daily Meetings</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle fa fa-circle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Other
                    </a>
                    <ul class="dropdown-menu jk_dropdwnmenu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item fa jk_submenu" href="/other/notifications">Notifications</a></li>
                        <li><a class="dropdown-item fa jk_submenu" href="/other/chat">Chat</a></li>
                        <li><a class="dropdown-item fa jk_submenu" href="/other/other_support_search">Support People
                                Search</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown jk_mn">
                    <a class="nav-link dropdown-toggle fa fa-cog" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Setup
                    </a>
                    <ul class="dropdown-menu jk_dropdwnmenu jk_md" aria-labelledby="navbarDropdownMenuLink">
                        <li class="nav-item dropdown jk_smn">
                            <a class="nav-link fa dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Job Scheduler
                            </a>
                            <ul class="dropdown-menu jk_dropdwnmenu dropdown-submenu jk_smd"
                                aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item fa jk_submenu" href="/scheduler/scheduler_setup">Setup</a>
                                </li>
                                <li><a class="dropdown-item fa jk_submenu" href="/scheduler/scheduler_jobs">Jobs
                                        logger</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="dropdown-item fa jk_submenu" href="/setup/setup_permissions">Permisions</a></li>
                        <li><a class="dropdown-item fa jk_submenu" href="/setup/setup_appearance">Appearance</a></li>
                        <li><a class="dropdown-item fa jk_submenu" href="/setup/setup_cache">Cache</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>