<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/global.css">
    <link rel="stylesheet" href="/menu.css">
    <link rel="stylesheet" href="/sweetalert2.min.css">
    <link rel="stylesheet" href="/animate.min.css">
    <link href="/fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="/fontawesome/css/brands.css" rel="stylesheet">
    <link href="/fontawesome/css/solid.css" rel="stylesheet">
    <script src="/sweetalert2.all.min.js"></script>
    <script src="/bootstrap.min.js"></script>
    <script src="/axios.min.js"></script>
    <script src="/headers.js"></script>
</head>

<body class="d-flex flex-column vh-100">
    <%- include('../partials/navbar') %>
        <div class="container">
            <%- include('../partials/flash') %>
                <%- body %>
        </div>
        <%- include('../partials/circle_menu') %>
</body>
<script src="/global.js"></script>

</html>