<% layout('layouts/mainLayout') %>
    <h2>Create Custom Item</h2>

    <% myCache.keys().forEach((key, i)=> { %>
        <% const proj=myCache.get(key); if (proj !==undefined) { /*console.log(`${key} : ${proj}`);*/ %>
            <div class="card text-dark bg-light mb-3" style="max-width: 22rem;">
                <div class="card-header">
                    <%= proj.name %>
                </div>
                <div class="card-body">
                    <h5 class="card-title">ID: <%= proj.id%>
                    </h5>
                    <p class="card-text"><a href="<%= process.env.REDMINE_PAGE + '/projects/' + proj.identifier %>">
                            <%= process.env.REDMINE_PAGE + '/projects/' + proj.identifier %>
                        </a></p>
                </div>
            </div>
            <% } }) %>