<% layout('layouts/mainLayout') %>
    <div class="row py-3">
        <div class="col-6 offset-3">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">
                    <%= error.message %>
                </h4>
                <p>
                    <%= error.stack %>
                </p>
            </div>
        </div>
    </div>