<% layout('layouts/mainLayout') %>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro totam corrupti
    alias
    sit
    veniam facilis officiis repellat, obcaecati, possimus quia quaerat iusto deleniti iste, placeat
    molestias
    accusantium doloremque animi nesciunt.
    Saepe quibusdam officiis ipsum, fugit ratione delectus. Facere, maiores ipsam. Blanditiis molestias
    nam
    eos
    esse
    similique illum accusantium rerum minima molestiae consequuntur dolorum, sit beatae eligendi
    voluptatum
    alias
    enim expedita.
    Doloremque quae excepturi, nostrum exercitationem vero sapiente odit quidem sit! Quidem porro harum
    laudantium!
    Minus, omnis iure suscipit aliquam est saepe ipsa provident culpa qui nam cumque? Hic, ullam
    voluptatem?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam quibusdam natus atque harum. Vitae
    minima
    eligendi exercitationem corrupti, placeat voluptates atque officiis, obcaecati modi aliquid quam
    illo
    adipisci,
    sequi reprehenderit!
    Dolore, voluptatibus quam sint quod dolor nisi itaque numquam adipisci, modi eos quos quae soluta
    quaerat
    explicabo vel odit officiis iste tempore placeat eum iure distinctio nesciunt pariatur cumque!
    Natus?
    Ex ratione sit commodi at. Commodi vero voluptatem provident est eaque architecto eligendi totam eum
    pariatur
    voluptas officiis, rerum unde soluta explicabo doloremque voluptatum optio necessitatibus blanditiis
    reprehenderit aperiam aliquid?
    Provident non doloribus praesentium quos eos optio maxime deleniti, temporibus aspernatur voluptates
    assumenda
    accusamus officia ducimus facilis laudantium neque eligendi fuga at libero, nisi obcaecati saepe
    corrupti
    laborum eius? Dolorem?
    Aspernatur ad rerum, delectus, fugit architecto et at sint, quasi rem nihil voluptates iusto nobis?
    Totam
    soluta
    sed temporibus labore animi ex ipsa ab incidunt? Temporibus obcaecati debitis veritatis delectus!
    Temporibus dolorem nobis, neque, aliquam dolores rem labore fugit eos, esse beatae nam cum itaque.
    Nihil
    repellat impedit doloribus reiciendis modi molestias repellendus non sapiente at? Impedit nihil
    molestias
    iure?
    Unde quis minus excepturi aut dolor, tempore, animi necessitatibus obcaecati cupiditate praesentium,
    reiciendis
    fugit mollitia molestias maiores culpa fuga eum repellat ab consequatur omnis? Veniam esse quasi
    temporibus
    culpa quidem.
    Sunt, fugiat error dolore harum nulla necessitatibus corrupti quidem. Quas qui quasi veniam saepe
    consectetur,
    vel eum? Soluta voluptatem nam, impedit magni mollitia, reprehenderit dignissimos quod tenetur
    cumque
    officia
    nisi?
    Hic adipisci commodi maxime quaerat est ab ratione incidunt, voluptatem fuga recusandae quod
    aspernatur
    totam
    accusantium sint praesentium porro. Eius dolor doloribus voluptate labore minima cumque nihil
    voluptatem
    numquam
    ipsa!
    Voluptate, facere molestias doloremque laboriosam facilis exercitationem quasi consequatur magni
    ipsam,
    dolorem
    alias? Culpa facilis nostrum sunt excepturi fuga assumenda dolorum, sequi dolorem, dolor nobis porro
    obcaecati
    amet autem. Nam.
    Recusandae cupiditate sapiente dignissimos atque omnis, iste quibusdam dicta repudiandae pariatur
    mollitia
    eos
    rerum veniam quasi voluptatibus labore, deserunt impedit doloremque eligendi neque corporis? Animi
    quisquam
    autem quasi ab vel?
    Nostrum, incidunt ad illo asperiores minima assumenda eveniet hic sed excepturi harum, maxime atque.
    Nostrum
    assumenda voluptatum a ducimus numquam eum, ipsa, exercitationem iste sint eos earum reprehenderit
    recusandae
    saepe!
    Placeat magni explicabo quasi accusamus, consequuntur neque totam esse recusandae repudiandae
    laborum
    ratione.
    Quos dolores, nobis beatae blanditiis dignissimos accusamus! A sapiente nulla eaque perferendis,
    ducimus
    totam
    reprehenderit est quia.
    Officiis omnis vero enim ad aperiam quis ea ipsum, magni voluptatibus fugit, assumenda eius
    reiciendis
    neque
    earum officia fuga suscipit eum deserunt praesentium reprehenderit pariatur culpa laboriosam. Velit,
    omnis
    consequatur.
    Repellendus necessitatibus velit recusandae maxime, consequatur mollitia maiores exercitationem
    pariatur
    commodi
    aspernatur rerum ipsum ad quam molestiae sapiente earum dolorem odio. Nihil praesentium, autem dolor
    minus
    nam
    accusamus quasi est!
    Ab qui eveniet id accusamus iste? Unde illo ex placeat porro quisquam officiis molestiae maiores
    nisi
    aspernatur
    a consectetur voluptatem vitae assumenda ut necessitatibus, eveniet et fugiat, neque fuga!
    Praesentium!
    Sint, officia blanditiis obcaecati quia sapiente perferendis ea ducimus sunt? Rem quod est facere
    cupiditate
    beatae perferendis quibusdam perspiciatis sunt. Eum, aut itaque nostrum hic laudantium blanditiis
    unde
    iste
    doloremque.
    Dolorem alias unde cum? Nam ducimus autem vero. Sint quasi voluptatum deserunt dolores ea ut
    provident
    doloremque? Hic vero, in tempora reiciendis dolorem vel neque fuga voluptatum, fugiat beatae itaque.
    Sequi perferendis alias quis amet assumenda facilis iure. Maxime eligendi molestias magnam hic enim
    necessitatibus eveniet, corrupti voluptatem quis praesentium perferendis nesciunt pariatur vitae
    saepe
    molestiae
    recusandae. Eveniet, officiis repudiandae!
    Quibusdam aspernatur nostrum sunt expedita, velit ipsam quo tempora mollitia animi culpa repellendus
    quae
    dolore, nam quos saepe corrupti. Maiores pariatur dolores atque ipsa eveniet, error sit tempore
    quaerat
    dolorum?
    Nulla nesciunt, optio cum eligendi aspernatur vero ut mollitia vitae inventore nemo culpa
    voluptatibus
    asperiores aliquid ipsam recusandae debitis doloribus delectus esse facilis maxime incidunt
    provident
    nisi
    vel.
    Eos, necessitatibus.
    In eum officiis necessitatibus, cumque libero atque corporis, ipsa rerum animi, blanditiis placeat
    est
    doloribus
    quos. Optio modi quaerat maxime voluptatum, omnis reprehenderit atque nostrum fugiat nobis dicta
    distinctio
    vero.
    Assumenda illo corrupti quis consectetur repudiandae quaerat. Ut eaque dolor quod. Numquam amet
    corrupti
    neque
    cum, magni ipsa. Voluptatum nihil ipsam ullam nemo eveniet cupiditate nostrum, quaerat ratione
    exercitationem
    aspernatur.
    Perspiciatis, minima rerum incidunt deserunt quaerat aliquam veniam nisi, odio excepturi officia
    assumenda
    harum, est culpa. Doloremque, quo? Voluptas perferendis fuga commodi magni natus officia aliquam,
    voluptate
    odit
    nesciunt. Aspernatur!
    Tempore repudiandae maxime voluptatibus nesciunt necessitatibus et est quia molestiae nulla, fugit
    rem
    dignissimos culpa adipisci eius provident asperiores? Porro officiis error tenetur a optio rem illum
    fugit
    quam
    placeat!
    Natus, aperiam doloribus consequatur vero itaque ab autem hic? Error labore perspiciatis doloribus
    beatae!
    Sit
    pariatur, excepturi ea accusantium facere hic rerum architecto tempore autem, perspiciatis quos est
    quia
    natus?
    Omnis corporis est ab magnam provident ex, quae delectus voluptatum amet similique quam at! Tenetur,
    illum
    eum
    esse quis perspiciatis sit nemo a fugit tempora quibusdam debitis quae voluptatum consequuntur.
    Aperiam, ipsa? Cupiditate dicta porro corporis ipsa facilis eligendi voluptatum nam unde! Quam animi
    beatae
    voluptas ipsa aliquam dolorem dolorum doloremque ducimus aut nemo id quo quod, dolore laudantium
    assumenda.
    Nesciunt, obcaecati, quis quidem vitae inventore nobis necessitatibus eveniet molestiae
    reprehenderit
    delectus
    deleniti, aliquid maxime debitis labore unde sapiente dolore est repellat praesentium distinctio
    fugit
    quas
    porro voluptatibus perferendis. Repellendus!
    Impedit, tempora sunt doloribus eius vitae sapiente quidem tenetur ipsum, amet ipsam sed! Sed
    distinctio, ad
    amet soluta iste exercitationem libero. Eum, voluptatem. Dolorum, iure quasi! Ex nulla minus eum.

    <div class="container pb-5">
        <label for="display_fonts">Select font:</label>
        <select name="fonts" id="display_fonts" onchange="changeTextFont(`${this.value}`)">
            <option value="">Default</option>
            <option value="circle">Circle</option>
            <option value="doubleStruck">DoubleStruck</option>
            <option value="fraktur">Fraktur</option>
            <option value="monoSpace">MonoSpace</option>
            <option value="sansSerif">SansSerif</option>
            <option value="script">Script</option>
            <option value="serif">Serif</option>
            <option value="square">Square</option>
            <!--<option value="random">Random</option>-->
        </select>

        <div class="helloworld_text" id="helloWorldText">
            Hello World
        </div>
    </div>