<% layout('layouts/mainLayout') %>
    <h2 class="mb-3 text-center display-5">Create Custom Item</h2>

    <div class="row mb-3">
        <div class="col">
            <form action="/itemcreators/custom_item" method="POST" class="row validated-form form-vertical g-1"
                novalidate>
                <!--PROJECT-->
                <div class="mb-3 row">
                    <div class="col-10 offset-1">
                        <div class="input-group">
                            <span class="input-group-text">Project <span style="color: red;">*</span></span>
                            <input class="form-control" list="projectDatalist" id="projDataList" aria-label="Project *"
                            name="issue[project]" placeholder="Type to search..." oninput="doValidateDataList(this); prepareProjAssignee(this)"
                            <% if (regression) { %>
                                value="<%= regression.project %>"
                            <% } %> required>
                            <datalist id="projectDatalist">
                                <% project_cache.forEach((proj, i)=> { if (proj !==undefined) {%>
                                    <option id="<%= proj.id %>" value="<%= proj.identifier %>"><%= proj.name %></option>
                                    <% } }) %>
                            </datalist>
                            <input type="hidden" name="issue[projectId]" id="projDataList-hidden" <% if (regression) { %>
                                value="<%= regression.projectId %>"
                            <% } %> >
                            <div class="invalid-feedback">
                                Project cannot be empty and must exist in Redmine system!
                            </div>
                        </div>
                    </div>
                </div>
                <!--TRACKER-->
                <div class="mb-3 row">
                    <div class="col-1 offset-1"><label class="form-label">Tracker <span
                                style="color: red;">*</span></label>
                    </div>
                    <div class="col-8">
                        <% tracker_cache.forEach((tracker, i)=> { if (tracker !==undefined) {%>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="issue[tracker]"
                                    id="radio<%= tracker.name %>" value="<%= tracker.id %>" <% if (i===0) { %>
                                     checked
                                    <% } %> required>
                                <label class="form-check-label" for="radio<%= tracker.name %>">
                                    <%= tracker.name %>
                                </label>
                                <div class="invalid-feedback">
                                    Required!
                                </div>
                            </div>
                            <% } }) %>
                    </div>
                </div>
                <!--SUBJECT-->
                <div class="mb-3 row">
                    <div class="col-10 offset-1">
                        <div class="input-group">
                            <span class="input-group-text">Subject <span style="color: red;">*</span></span>
                            <input class="form-control form-control" name="issue[subject]" type="text" aria-label="Issue subject" <% if (regression) { %>
                                value="<%= regression.subject %>"
                            <% } %> required>
                            <div class="invalid-feedback">
                                Required!
                            </div>
                        </div>
                    </div>
                </div>
                <!--DESCRIPTION-->
                <div class="mb-3 row">
                    <div class="col-10 offset-1">
                        <div class="input-group">
                            <span class="input-group-text">Description <span style="color: red;">*</span></span>
                            <textarea class="form-control" id="description" name="issue[description]" style="height: 100px"
                                required><% if (regression) { %><%= regression.description %><% } %></textarea>
                            <div class="invalid-feedback">
                                Required!
                            </div>
                        </div>
                    </div>
                </div>
                <!--ASSIGNEE-->
                <div class="mb-3 row">
                    <div class="col-10 offset-1">
                        <div class="input-group">
                            <span class="input-group-text">Assignee <span style="color: red;">*</span></span>
                            <input class=" form-control" list="assigneeDatalist" id="assignee"
                            name="issue[assignee]" placeholder="Type to search..." oninput="doValidateDataList(this)"
                            pattern="^(<%= users_cache.map(p => p.fullName).join('|') %>)$" required>
                            <datalist id="assigneeDatalist">
                                <% users_cache.forEach((usr, i)=> { if (usr !==undefined) {%>
                                    <option id="<%= usr.id %>" value="<%= usr.login %>"><%= usr.fullName %></option>
                                    <% } }) %>
                            </datalist>
                            <input type="hidden" name="issue[assigneeId]" id="assignee-hidden">
                            <div class="invalid-feedback">
                                User cannot be empty and must exist in Redmine system!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row offset-1">
                    <!--ISSUE-->
                    <div class="col-3 mb-3 px-5">
                        <div class="input-group"><span class="input-group-text">SD Issue#</span></div>
                        <input class="form-control form-control-sm" type="text" name="issue[sdIssue]"
                            placeholder="SD Issue#" aria-label="SD Issue" id="SDIssue" <% if (regression) { %>
                             value="<%= regression.issue_id %>"
                            <% } %>
                            pattern="^(I|i)(S|s)(S|s)-[a-zA-Z]+-\d{1,6}[a-zA-Z]{2}$">
                        <div class="invalid-feedback">
                            SD Issue# is in wrong format.
                        </div>
                    </div>
                    <!--CR-->
                    <div class="col-3 mb-3 px-5">
                        <label for="SDCr" class="form-label">SD CR#</label>
                        <input class="form-control form-control-sm" type="text" name="issue[sdCR]" placeholder="SD CR#"
                            aria-label="SD CR" id="SDCr" pattern="^(c|C)(r|R)-[a-zA-Z]+-\d{1,6}[a-zA-Z]{2}$">
                        <div class="invalid-feedback">
                            SD CR# is in wrong format.
                        </div>
                    </div>
                    <!--TMS-->
                    <div class="col-3 mb-3 px-5">
                        <label for="iTMS" class="form-label">iTMS</label>
                        <input class="form-control form-control-sm" type="text" name="issue[tms]"
                            placeholder="iTMS task" aria-label="iTMS task" id="iTMS" pattern="^[a-zA-Z]+-\d{5}$">
                        <div class="invalid-feedback">
                            iTMS is in wrong format.
                        </div>
                    </div>
                </div>
                <!-- Hidden fields for regression -->
                <% if (regression) { %>
                    <input type="hidden" name="regression[project]" value="<%= regression.project %>">
                    <input type="hidden" name="regression[project_identifier]" value="<%= regression.project_identifier %>">
                    <input type="hidden" name="regression[projectId]" value="<%= regression.projectId %>">
                    <input type="hidden" name="regression[sdPacketId]" value="<%= regression.sdPacketId %>">
                    <input type="hidden" name="regression[sdPacket]" value="<%= regression.sdPacket %>">
                    <input type="hidden" name="regression[display_created]" value="<%= regression.display_created %>">
                <% } %>
                <!--Button Submit-->
                <div class="mb-3">
                    <button class="btn btn-primary" type="submit">Create issue</button>
                </div>
            </form>
        </div>
    </div>

    <script>

        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.validated-form')

            // Loop over them and prevent submission
            Array.from(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })();

        window.onload = function() {
            let projDataList = document.getElementById("projDataList");
            prepareProjAssignee(projDataList);
        }
    </script>