<% layout('layouts/mainLayout') %>
    <h2 class="mb-3 text-center display-5">Items From Regressions</h2>

    <div class="row mb-3">
        <div class="col">
            <form action="/itemcreators/regression_item" <% if (sd_reg_issues) { %>
                method="GET"
            <% } else { %> method="POST" <% } %> class="row validated-form form-vertical g-1"
                novalidate>
                <!--SD PACKET/PROJECTS-->
                <div class="mb-3 row">
                    <div class="col-lg-8 col-6 offset-1">
                        <div class="input-group">
                            <span class="input-group-text">SoftDev Project <span style="color: red;">*</span></span>
                            <input class="form-control" list="sdPacketDatalist" id="sdPacket"
                                name="regression[sdPacket]" placeholder="Type to search..."
                                oninput="doValidateDataList(this)" <% if (sd_reg_issues) { %>
                                    value="<%= sd_project_cache[0].PRODUCT_VERSION_NAME %>" disabled readonly>
                                <% } else { %>
                                    <% if (reg_cookies) { %> value="<%= reg_cookies.SDProjectName %>"<% } %> required>
                                <% } %>
                            <datalist id="sdPacketDatalist">
                                <% sd_project_cache.forEach((sd_proj, i)=> { if (sd_proj !==undefined) {%>
                                    <option id="<%= sd_proj.PRODUCT_VERSION_ID %>" value="<%= sd_proj.PRODUCT_VERSION_NAME %>"><%= sd_proj.PRODUCT_VERSION_NAME %></option>
                                    <% } }) %>
                            </datalist>
                            <input type="hidden" name="regression[sdPacketId]" id="sdPacket-hidden" <% if (reg_cookies) { %>
                             value="<%= reg_cookies.SDProjectId %>"
                            <% } %>>
                            <div class="invalid-feedback">
                                SoftDev project cannot be empty and must exist!
                            </div>
                        </div>
                    </div>
                    <!--DISPLAY CREATED CHECKBOX-->
                    <div class="col-lg-3 col-4">
                        <div class="form-check form-switch">
                            <input class="form-check-input" name="regression[display_created]" type="checkbox" id="CheckDisplayCreated" onclick="showHideRow(this)" 
                            <% if ((reg_cookies && reg_cookies.DisplayCreated === "on") || (sd_reg_issues && sd_reg_issues.display_created === "on")) { %>
                                checked
                            <% } %>>
                            <label class="form-check-label" for="CheckDisplayCreated">Display Created</label>
                        </div>
                    </div>
                </div>
                <!--PROJECT-->
                <div class="mb-3 row">
                    <div class="col-10 offset-1">
                        <div class="input-group">
                            <span class="input-group-text">Redmine Project <span style="color: red;">*</span></span>
                            <input class="form-control" list="projectDatalist" id="projDataList" aria-label="Project *"
                                name="regression[project]" placeholder="Type to search..."
                                oninput="doValidateDataList(this); prepareProjIdentifierFromDataList(this)" <% if (sd_reg_issues) { %>
                                    value="<%= project_cache[0].name %>" disabled readonly>
                                <% } else { %>
                                    <% if (reg_cookies) { %>
                                     value="<%= reg_cookies.RedmineProjectName %>"
                                    <% } %> required>
                                <% } %>
                            <datalist id="projectDatalist">
                                <% project_cache.forEach((proj, i)=> { if (proj !== undefined) {%>
                                    <option id="<%= proj.id %>" value="<%= proj.identifier %>"><%= proj.name %></option>
                                    <% } }) %>
                            </datalist>
                            <input type="hidden" name="regression[projectId]" id="projDataList-hidden" <% if (reg_cookies) { %>
                             value="<%= reg_cookies.RedmineProjectId %>"
                            <% } %>>
                            <input type="hidden" name="regression[project_identifier]" id="projDataList-Identifier_hidden" <% if (reg_cookies) { %>
                             value="<%= reg_cookies.RedmineProjectIdentifier %>"
                            <% } %>>
                            <div class="invalid-feedback">
                                Project cannot be empty and must exist in Redmine system!
                            </div>
                        </div>
                    </div>
                </div>
            <!--Button Submit-->
                <div class="mb-3">
                    <button class="btn btn-primary" type="submit"><% if (sd_reg_issues) { %> 
                        Clear
                    <% } else { %> 
                        Find items 
                    <% } %></button>
                </div>
            </form>
                <!--ISSUE GRID-->
                <% if (sd_reg_issues) { %>                
                <div class="mb-3 row">
                    <div class="col-10 offset-1">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th scope="col">Issue#</th>
                                <th scope="col">Summary</th>
                                <th scope="col">Description</th>
                                <th scope="col">Registered By</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <% sd_reg_issues.forEach((issue, i) => { if (issue !==undefined) {%>
                            <tbody>
                            <tr <% if (issue.REDMINE_LINK !== "") { %>
                             name="hiddenRegRow" class="hiddenRow"
                            <% } %>>
                                <th scope="row"><%=issue.ISSUE_ID%></th>
                                <td><%=issue.ISSUE_SUMMARY%></td>
                                <td><%=issue.ISSUE_DESCRIPTION%></td>
                                <td><%=issue.ISSUE_REGISTERED_BY%></td>
                                <td><% if (issue.REDMINE_LINK !== "") { %>
                                    <a href="<%= issue.REDMINE_LINK %>" class="btn btn-primary" role="button">Go To Item</a>
                                <% } else { %>
                                    <form action="/itemcreators/regression_item_create" method="POST">
                                        <input type="hidden" name="regression[project]" value="<%= project_cache[0].name  %>">
                                        <input type="hidden" name="regression[project_identifier]" value="<%= project_cache[0].identifier  %>">
                                        <input type="hidden" name="regression[subject]" value="<%= issue.ISSUE_SUMMARY  %>">
                                        <input type="hidden" name="regression[description]" value="<%= issue.ISSUE_DESCRIPTION  %>">
                                        <input type="hidden" name="regression[issue_id]" value="<%= issue.ISSUE_ID  %>">
                                        <input type="hidden" name="regression[projectId]" value="<%= project_cache[0].id  %>">
                                        <input type="hidden" name="regression[sdPacketId]" value="<%= sd_project_cache[0].PRODUCT_VERSION_ID  %>">
                                        <input type="hidden" name="regression[sdPacket]" value="<%= sd_project_cache[0].PRODUCT_VERSION_NAME  %>">
                                        <input type="hidden" name="regression[display_created]" value="<%= sd_reg_issues.display_created  %>">
                                        <button class="btn btn-primary" type="submit">Create Item</button>
                                    </form>
                                <% } %></td>
                            </tr>
                            </tbody>
                            <% } }) %>
                        </table>
                    </div>
                </div>
                <% } %> 
        </div>
    </div>

    <script>
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.validated-form')

            // Loop over them and prevent submission
            Array.from(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()

        window.onload = function() {
            let checkDispCreated = document.getElementById("CheckDisplayCreated");
            showHideRow(checkDispCreated);
        }
    </script>